<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/home.css">
    <link rel="stylesheet" href="/partials/upcoming/upcoming.css">
    <link rel="stylesheet" href="/partials/pastMatches/pastMatches.css">
    <link rel="stylesheet" href="/partials/nav/nav.css">
    <link rel="stylesheet" href="/partials/footer/footer.css">
</head>
    <%- include('./partials/head.ejs')%> 
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="zamboni"></div>

    <div class="mainAreaContainer">
<!-- matches container -->
        <div class="pastAndUpcomingContainer">
        <div class="info">**(Unfinished Games Do Not Count Towards Standings/Stats)</div>
            <!-- Past matches -->
            <%- include('./partials/pastMatches.ejs') %>
            <!-- upcoming matches -->
            <%- include('./partials/upcoming.ejs') %>
        </div>

<!-- standings -->
    <div class="statsContainer">
        <h3>Standings</h3>
        <ol>
            <div class="teamAndStats">
                <div class="legend"></div>
                <div class="statsValues">
                    <h6>W</h6>
                    <h6>L</h6>
                    <h6>PTS</h6>
                </div> 
            </div>
                <%teams.forEach(team =>{%>
                    <div class="teamAndStats">
                        <a href="/teams/<%= team._id%>">
                            <li><%=team.teamName%></li>
                        </a>
                        <div class="statsValues">
                            <div class="value"><%=team.wins%></div>
                            <div class="value"><%=team.losses%></div>
                            <div class="value"><%=team.PTS%></div>
                        </div>
                    </div>
                <% }) %>
        </ol>
<!-- Top ten players -->
            <h3>Top 10 Goal Scorers</h3>
            <ol type="1">
                <div class="teamAndStats">
                    <div class="legend"></div>
                    <div class="statsValues">
                        <h6>G</h6>
                        <h6>GP</h6>
                    </div> 
                </div>
                <%const topTen = players.splice(0,10)%>
                <%topTen.forEach(player=>{%>
                    <div class="teamAndStats">
                        <a href="/players/<%=player.first%>/<%=player.last%>">
                            <li><%= player.first %> <%= player.last %></li>
                        </a>
                        <div class="statsValues">
                            <div class="value"><%= player.goals %></div>
                            <div class="value"><%=player.gp%></div>
                        </div>
                    </div>
                <%})%>
            </ol>
<!-- top ten goalie -->
            <h3>Top Goalies</h3>
            <ol>
                <div class="teamAndStats">
                    <div class="legend"></div>
                    <div class="statsValues">
                        <h6>W</h6>
                        <h6>L</h6>
                        <h6>GP</h6>
                    </div> 
                </div>
                <%goalies.forEach(goalie=>{%>
                    <div class="teamAndStats">
                        <a href="/players/<%=goalie.first%>/<%=goalie.last%>">
                            <li><%= goalie.first %> <%= goalie.last %></li>
                        </a>
                        <div class="statsValues">
                            <div class="value"><%= goalie.wins %></div>
                            <div class="value"><%= goalie.losses %></div>
                            <div class="value"><%=goalie.gp%></div>
                        </div>
                    </div>
                <%})%>
            </ol>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>