<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/player/player.css">
    <link rel="stylesheet" href="/nav/nav.css">
    <link rel="stylesheet" href="/footer/footer.css">
     <!--Import materialize.css-->
     <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="mainAreaContainer">
        <h1 class="card"><%=first%> <%=last%></h1>
        <img src="/player/profilePic.png" alt="Profile Pic">
        <h3>Games Played: <%=personInfo[0].gp%></h3>
        <!-- if its a player -->
        <%if(personInfo[0].goals>=0){%>
            <h3>Goals Scored: <%=personInfo[0].goals%></h3>
        <%}%>
        <!-- if its a goalie -->
        <%if(personInfo[0].wins>=0){%>
            <h3>Wins: <%=personInfo[0].wins%></h3>
        <%}%>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>