<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stats/stats.css">
    <link rel="stylesheet" href="/nav/nav.css">
    <link rel="stylesheet" href="/footer/footer.css">
</head>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
     <div class="statsMainArea">
         <h1>Stats</h1>
         <div class="listsContainer">
            <ol type="1">
                <div class="nameAndStats">
                    <h4>Players</h4> 
                    <div class="statsValues">
                        <h6>G</h6>
                        <h6>GP</h6>
                    </div>
                </div>
                <%players.forEach(player=>{%>
                    <div class="nameAndStats">
                        <a href="/players/<%=player.first%> <%=player.last%>">
                            <li><%=player.first%> <%=player.last%></li>
                        </a>                        
                        <div class="statsValues">
                            <div class="value"><%= player.goals %></div>
                            <div class="value"><%=player.gp%></div>
                        </div>
                    </div>
                <%})%>
            </ol>
            <ol type="1">
                <div class="nameAndStats">
                    <h4>Goalies</h4> 
                    <div class="statsValues">
                        <h6>W</h6>
                        <h6>GP</h6>
                    </div>
                </div>
                <%goalies.forEach(goalie=>{%>
                    <div class="nameAndStats">
                        <a href="/players/<%=goalie.first%> <%=goalie.last%>">
                            <li><%=goalie.first%> <%=goalie.last%></li>
                        </a>                        
                        <div class="statsValues">
                            <div class="value"><%= goalie.wins %></div>
                            <div class="value"><%=goalie.gp%></div>
                        </div>
                    </div>
                <%})%>
            </ol>
        </div>
     </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>