<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/teamID/teamID.css">
    <link rel="stylesheet" href="/nav/nav.css">
    <link rel="stylesheet" href="/footer/footer.css">
</head>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="mainArea">
        <h1><%=team.teamName%></h1>
            <div class="listsComponent">
                <ol>
                    <div class="playerAndGoalsTitle"><h4>Players</h4> <h6>G</h6></div>
                    <%goalsSorted.forEach(player=>{%>
                        <div class="playerAndGoals">
                            <li><%=player.first%> <%=player.last%></li>
                            <div class="goals"><%=player.goals%></div>
                        </div>
                    <%});%>
                </ol>
                <ol>
                    <div class="playerAndGoalsTitle"><h4>Goalies</h4> <h6>W</h6></div>
                    <%winsSorted.forEach(goalie=>{%>
                        <div class="playerAndGoals">
                            <li><%=goalie.first%> <%=goalie.last%></li>
                            <div class="goals"><%=goalie.wins%></div>
                        </div>
                    <%});%>
                </ol>
            </div>

            <div class="statsContainer">
                <h3>Wins:<div class="statValue"><%=team.wins%></div></h3>
                <h3>Losses:<div class="statValue"><%=team.losses%></div></h3>
                <% if(team.losses > 0) {%>
                <h3>W/L: <div class="statValue"><%= Math.round(10*((team.wins)/(team.losses)*100))/10%>%</div></h3>
                <%} else {%>
                <h3><div class="statValue">N/A</div></h3>
                <%}%>
            </div>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>