<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/teams/teams.css">
    <link rel="stylesheet" href="/addTeamForm/form.css">
    <link rel="stylesheet" href="/nav/nav.css">
    <link rel="stylesheet" href="/footer/footer.css">
</head>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<!-- Team Standings -->
    <div class="mainArea">
        <div class="standingsTitle">Standings</div>
        <div class="teamsContainer">
            <div class="nameAndStats">
                <h4>Players</h4> 
                <div class="statsValues">
                    <h6>W</h6>
                    <h6>L</h6>
                </div>
            </div>
            <ol class="teamList" type="1s">
                <%winsSorted.forEach(team =>{%>
                    <div class="nameAndStats">
                        <a href="/teams/<%= team._id%>" class="teamAnchor">
                            <li class="team"><%=team.teamName%></li>
                        </a>
                        <div class="statsValues">
                            <div class="value"><%=team.wins%></div>
                            <div class="value"><%=team.losses%></div>
                        </div>
                    </div>
                <% }) %>
            </ol>
        </div>
<!-- Add Team Form -->
        <%- include('./partials/addTeam.ejs') %>
    </div>
        <%- include('./partials/footer.ejs') %>

</body>
</html>
